archetypes/** linguist-documentation
content/** linguist-documentation
data/** linguist-documentation
layouts/** linguist-documentation
public/** linguist-documentation
resources/** linguist-documentation
static/** linguist-documentation
themes/** linguist-documentation
